.lead__title {
  margin: 0 auto 32px auto;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: calc(40px + (56 + 56*0.7)*((100vw - 320px)/1280));
    line-height: 1.1;
  }
}


@media screen and (max-width: 568px) {
  .lead__title {
    width: calc(100% - 2*16px);
    margin: 0 auto 16px auto;
  }
}