.place__paragraph {
  margin-block: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin-bottom: 26px;
}

@media screen and (max-width: 984px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 568px) {
  .place__paragraph {
    font-size: 16px;
    margin: 0 16px;
  }
}